<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <listener>
  	<listener-class>
  		listeners.AppListener
  	</listener-class>
    </listener>
    <filter>
        <filter-name>UserFilter</filter-name>
        <filter-class>filters.UserFilter</filter-class>
        <init-param>
            <param-name>active</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>UserFilter</filter-name>
        <url-pattern>*.jsp</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>GetBusesServlet</servlet-name>
        <servlet-class>servlets.GetBusesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuthorizationServlet</servlet-name>
        <servlet-class>servlets.AuthorizationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Report</servlet-name>
        <servlet-class>servlets.Report</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetRoute</servlet-name>
        <servlet-class>servlets.GetRoute</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetBusesServlet</servlet-name>
        <url-pattern>/GetBusesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthorizationServlet</servlet-name>
        <url-pattern>/AuthorizationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Report</servlet-name>
        <url-pattern>/Report</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetRoute</servlet-name>
        <url-pattern>/GetRoute</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
