<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <listener>
        <listener-class>
  		listeners.AppListener
  	</listener-class>
    </listener>
    <servlet>
        <servlet-name>GetBusesServlet</servlet-name>
        <servlet-class>servlets.GetBuses</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuthorizationServlet</servlet-name>
        <servlet-class>servlets.AuthorizationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Report</servlet-name>
        <servlet-class>servlets.Report</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetRoute</servlet-name>
        <servlet-class>servlets.GetRoute</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportRoute</servlet-name>
        <servlet-class>servlets.ReportRoute</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetSpeedBus</servlet-name>
        <servlet-class>servlets.GetSpeedBus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailReport</servlet-name>
        <servlet-class>servlets.DetailReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetRouteBuses</servlet-name>
        <servlet-class>servlets.GetRouteBuses</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetInfoOfBus</servlet-name>
        <servlet-class>servlets.GetInfoOfBus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetBusStations</servlet-name>
        <servlet-class>servlets.GetBusStations</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetMoveBusStationReport</servlet-name>
        <servlet-class>servlets.GetMoveBusStationReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetCurrentRoutes</servlet-name>
        <servlet-class>servlets.GetCurrentRoutes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetCurrentRouteBuses</servlet-name>
        <servlet-class>servlets.GetCurrentRouteBuses</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetBusesServlet</servlet-name>
        <url-pattern>/GetBusesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthorizationServlet</servlet-name>
        <url-pattern>/AuthorizationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Report</servlet-name>
        <url-pattern>/Report</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetRoute</servlet-name>
        <url-pattern>/GetRoute</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportRoute</servlet-name>
        <url-pattern>/ReportRoute</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetSpeedBus</servlet-name>
        <url-pattern>/GetSpeedBus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailReport</servlet-name>
        <url-pattern>/DetailReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetRouteBuses</servlet-name>
        <url-pattern>/GetRouteBuses</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetInfoOfBus</servlet-name>
        <url-pattern>/GetInfoOfBus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetBusStations</servlet-name>
        <url-pattern>/GetBusStations</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetMoveBusStationReport</servlet-name>
        <url-pattern>/GetMoveBusStationReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetCurrentRoutes</servlet-name>
        <url-pattern>/GetCurrentRoutes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetCurrentRouteBuses</servlet-name>
        <url-pattern>/GetCurrentRouteBuses</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            120
        </session-timeout>
    </session-config>
</web-app>
